body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.pt-3 {
  margin-top: 20px;
}
img {
  width: 100px;
}
.conditon {
  list-style-type: none;
}
